<div class="first">
    <h1> Ned_Get </h1>
    <div class="list">
    <a href="">Новинки</a>
    <div class="hh"></div>
    <a href="">Ноутбук</a>
    <div class="hh"></div>
    <a href="">Смартфон</a>
    <div class="hh"></div>
    <a href="">Наушники</a>
    </div>
</div>
<div class="second">
    <div class="slide">
    </div>
    <div class="products">
            <div class="product">
            <div class="gg">
                <a href="">Ноутбук</a>
                <h2>545 000₸</h2>
                <p></p>
            </div>
        </div>
        <div class="product">
            <div class="gg">
                <a href="">Ноутбук</a>
                <h2>545 000₸</h2>
            </div>
        </div>
        <div class="product">
            <div class="gg">
                <a href="">Ноутбук</a>
                <h2>545 000₸</h2>
            </div>
        </div>
        <div class="product">
            <div class="gg">
                <a href="">Ноутбук</a>
                <h2>545 000₸</h2>
            </div>
        </div>
        <div class="product">
            <div class="gg">
                <a href="">Ноутбук</a>
                <h2>545 000₸</h2>
            </div>
        </div>

    </div>
</div>